# Debian packaging build artifacts
debian/.debhelper/
debian/os08e10-rpi-dkms/
debian/files
debian/debhelper-build-stamp
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars

# Build products
*.deb
*.dsc
*.changes
*.buildinfo
*.orig.tar.*
*.debian.tar.*
